@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.session {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow: hidden;

    &:before {
        content:'';
        background-size: cover;
        background-position: center;
        filter: blur(20px);
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 1;
        transition:all ease 1s;
    }

    &--cm {
        font-family: 'DotGothic16', sans-serif;

        &:before {
            background:url(../../img/love-bells.jpg) bottom right;
        }
    }

    &--jq {
        font-family: 'DotGothic16', sans-serif;

        &:before {
            background:url(../../img/nook98.jpg) bottom right;
        }
    }

    &--logged {
        &:before {
            filter: blur(0px);
        }
    }
}


.login {
    z-index: 2;
    background: #b9b9b9;
    border: 3px solid white;
    border-style: outset;
    z-index: 2;
    display: grid;
    width: 50rem;
    max-width: 100%;
    max-height: 100%;
    overflow:auto;

    &__help {
        padding: 2rem;
        text-align: center;
        background: white;
        border-width: 2px;
        display: grid;
        grid-row-gap: .5rem;
        font-size: 1.3rem;
        border-style: inset;

        span {
            display: block;
            text-align: center;
            font-weight: bold;
        }
    }

    &__error {
        text-align: center;
        background: #f7a0a0;
        color: #790000;
        border:1px solid #790000;
        padding: 1.5rem;
        font-weight: bold;
    }


    &__title {
        margin: 0;
        font-size: 1.5rem;
        color: white;
        text-align: left;
        padding: .5rem;
        background: linear-gradient(45deg, #1f3192, #2196f3);
    }
    
    &__form {
        display: grid;
        grid-row-gap: 1rem;
        padding: 2rem;
    }    
    
    &__group {
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-gap: 1rem;
        align-items: center;

        @media screen and (max-width:768px) {
            grid-template-columns: 1fr;
            
        }
    }
    
    &__input {
        padding: .5rem;
        border-radius: .2rem;
        font-size: 1.5rem;
        outline: #213b9d;
        font-family: inherit;
        border-style: revert;
    }
    
    &__submit {
        background: #b9b9b9;
        padding: 1rem;
        border-style: outset;
        border-color: #888888;
        border-width: 2px;
        font-family: inherit;
        font-weight: bold;
    }
    
    &__reset {
        background: #b9b9b9;
        padding: 1rem;
        border-style: outset;
        border-color: #888888;
        border-width: 2px;
        font-family: inherit;
        font-weight: bold;
    }   
}

.winnook {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
        width: 100%;
        position: relative;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        background: #b9b9b9;
        width: calc(100% - 8px);
        border-style: outset;
        border-color: white;
        border-width: 2px;
        padding: .2rem;

        &__right {
            display: flex;
            border-style: outset;
            border-color:  rgb(133, 133, 133);
            border-width: 2px;
            padding:2px 4px;
        }

        &__separator {
            height: 100%;
            width: 1px;
            margin: 0 .5rem;
            display: block;              
            background: rgb(133, 133, 133);  
        }
    }

    &__logout {
        background: #b9b9b9;
        padding: 2px;
        border-style: outset;
        border-width: 2px;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
    }

    &__app {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #b9b9b9;
        border: 3px solid white;
        border-style: outset;
    
        &__title {
            margin: 0;
            font-size: 1.5rem;
            color: white;
            text-align: left;
            padding: .5rem;
            background: linear-gradient(45deg, #1f3192, #2196f3);

            i {
                margin-right: 1rem;
            }
        }
        
        &__content {
            padding: 1rem;
            overflow: auto;
            margin-top: 3rem;
            background: white;
            border: 3px solid #d2d2d2;
            border-style: inset;
        
        
         img {
            width: 100%;
            display: block;
            max-width: 50rem;
        }
        
         h2 {font-weight: bold;}
        }   
    }
}

.blocknook {
    width: 80rem;
    height: 60rem;
    max-height: calc(100% - 10rem);
    max-width: calc(100% - 20rem);
    bottom: 5rem;
    left: 10rem;

    @media screen and (max-width:768px) {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        max-height: 100%;
        max-width: 100%;
        display: flex;
        bottom: 0;
        left: 0;
    } 
}

.nookmail {
    width: 80rem;
    height: 60rem;
    max-height: calc(100% - 10rem);
    max-width: calc(100% - 20rem);
    bottom: 5rem;
    left: 10rem;

    @media screen and (max-width:768px) {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        max-height: 100%;
        max-width: 100%;
        display: flex;
        bottom: 0;
        left: 0;
    } 
}