$nookphone-background: $beige;

.main-nookphone {
    background-image: url('../../img/pattern-leaves-white.jpg');
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    background-size: 25rem;

    @media screen and (max-width:768px) {
        background-size: contain;
    }
}

.nookphone {
  
    --nookphoneHeaderHeight : 8.5rem;
    --nookphoneFooterHeight : 8.5rem;

    position: absolute;
    left:50%;
    top:50%;
    border-radius: 10rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1),  0 15px 35px rgba(0,0,0,0.05);
    background-color: $nookphone-background;
    width: 40rem;
    transform: translate(-50%, -50%);
    overflow: hidden;

    &__content {
        width: 100%;
        padding-bottom: 175%;
        position: relative;
    }

    &__header {
        position:absolute;
        width: 100%;
        top:0;
        left:0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: var(--nookphoneHeaderHeight);
        align-items: center;
        justify-content: center;
        color : #544141;
        z-index: 2;
        background: #f7f4e5;
    }

    &__footer {
        position:absolute;
        bottom:0;
        height: var(--nookphoneFooterHeight);
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        left:0;
        align-items: center;
        background-color: hsl(50, 53%, 90%);

        &__link {
            text-align: center;
            font-size: 4rem;
            color: hsl(21, 15%, 23%);
            font-weight: bold;
            padding: 1rem;
            background: hsl(50, 53%, 87%);
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            
            i {
                transition:all ease 250ms;
            }

            &:focus, &:active {
                i{
                    transform:scale(0.95);
                }
        
            }
        }
    }

    &__body {
        z-index: 1;
        width: 100%;
        height: calc(100% - var(--nookphoneFooterHeight) - var(--nookphoneHeaderHeight));
        position: absolute;
        bottom: var(--nookphoneFooterHeight);
        left:0;

        &__content {
            padding: 2rem;
            height:calc(100% - 4rem);
            overflow: auto;
        }
    }

    &__time {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Zilla Slab', serif;
        text-align: center;
    }
    
    &__icons {
        display: grid;
        align-items: center;
        justify-content: center;

        i {
            font-size: 2rem;
        }
    }

    @media screen and (max-width:768px) {
        width: 100%;
        border-radius: 0;
        height: 100%;
        --nookphoneHeaderHeight : 5rem;

        .nookphone__app--instanook {
            grid-row-start: 3;
        }
        
        .nookphone__app-message {
            grid-row-start: 1;
            grid-column-start: 2;
        }
        
        .nookphone__app--notes {
            grid-column-start: 2;
            grid-row-start: 3;
        }
        
        .nookphone__app--suspects {
            grid-row-start: 3;
            grid-column-start: 3;
        }
        

        &__content {
            padding: 0;
            height: 100%;
        }    
    }
}